/args
/bin
/.kube-secrets
.ci/controllers-test/logs/*.log
.ci/controllers-test/logs/*.log.*
/tmp/*
/dev
/logs
/hack/tools/bin
gen
*.html
.vscode
.idea
.run 
**/.env
*.DS_Store
managevm
controller_manager
mcm.out
kubectl
.cache_ggshield

# Binary files of MCM
./machine-controller-manager
./managevm

# Output of the go coverage tool, specifically when used with LiteIDE
*coverprofile.out*

# Autogen tags
tags

# gosec
gosec-report.sarif
